.bg-head{
  background-color: #00205B  !important;
  
}
.bg-side{
  background-color: #F3F3F3;
}
.active-link {
  background-color: green; 
  
}
.user-list-container {
  max-height: 250px; 
}

.btn-edit{
  background-color: rgb(0, 200, 255) !important;
  border:0px !important;
}
.delete-button{ 
  background-color: red !important;
  color: #F3F3F3;
}

.btn-hover {
  width: 200px !;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align:center;
  border: none;
  background-size: 300% 100%;

  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.btn-hover:focus {
  outline: none;
}

.btn-hover.color {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.open{
  background: white !important;
/* border-radius: 16px !important; */
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1) !important;
backdrop-filter: blur(12.9px) !important;
-webkit-backdrop-filter: blur(12.9px) !important;
/* border: 1px solid rgba(109, 111, 117, 0.77) !important; */
color: black !important;
}

.close{
  background-color: #F3F3F3!important;
  color: black;
}

