.bg-head{
  background-color: #00205B  !important;
  
}
.bg-side{
  background-color: #F3F3F3;
}
.active-link {
  background-color: green; 
  
}
.user-list-container {
  max-height: 250px; 
}


.open{
  background-color: whitesmoke!important;
}

.close{
  background-color: peachpuff !important;
}