.bg-head{
  background-color: #00205B  !important;
  
}
.bg-side{
  background-color: #F3F3F3;
}
.active-link {
  background-color: green; /* Change this to your desired background color */
  /* Add any other styles as needed */
}